body {
    background:black;

}

header {
    margin-top: 20px;
}

div {
    box-sizing: content-box;
}

p {
    padding-left: 8px;
    padding-right: 2px;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.fa-html5 {
    margin-left: 10px;
}

.text {
    margin-left: 40px;
    margin-top: -30px;
}



.fa-heart-o, .fa-comment-o, .fa-paper-plane-o {
    margin-left: 10px;
}

.fa-ellipsis-v {
    float: right;
    margin-top: -30px;
    margin-right: 10px;
}

.fa-bookmark-o {
    float: right;
    padding-right: 10px;
}

header h1 {
    margin: 0;
}

.post {
    background: white;
    margin: 20px;
    display: inline-block;
}

.post img {
    width: 500px;
    margin: 0;
}

.container {
    width: 500px;
    margin: auto;
}