body {
    background:lightgrey;
    margin: 0;
    text-align: center;
    
}

div {
    box-sizing: border-box;
}

header {
    background: white;
    text-align: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-bottom: 20px;
    
}

header h1 {
    margin: 0;
}

.post {
    background: white;
    margin: 20px;
    display: inline-block;
}

.post span {
    float: right;
    padding: 20px;
    margin: 0;
    color: grey;
}
.post img {
    width: 500px;
    margin: 0;
}

.post h2, .post p {
    padding: 15px;
    float: left;
    margin: 0;
    background: white;
}
.container {
    width: 500px;
    margin: auto;
}